  
/* :root { */
    /* fonts */
    /* --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif; */
    /* text color */
    /* --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --logo-blue-txt-cl: #2196F3;
    --logo-black-txt-cl: #000000;
    --logo-white-txt-cl: #FFFFFF;
    --white-txt-cl: #FFFFFF;    */
    /* bg color */
    /* --dark-bg-cl: #2F303A;
    --light-bg-cl: #F5F4FA;
    --overlay-bg-cl: #C4C4C4;
    --blue-bg-cl: #2196F3;
    --white-bg-cl: #FFFFFF; */
    /* others */
    /* --button-text-color: #000000;
    --focus-color: #ffffff;
    --border-form: #D9D9D9;
    --border-color: #ECECEC;
    --border-social-color:#AFB1B8;
    --border-cards-color: #EEEEEE;
    --social-icon-color:#AFB1B8;
    --akcent-color: #2196F3;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* body {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
} */

/* reset styles */
/* .footer__link, .header__link,
.link,
.portfolio__link--cards {
    text-decoration: none;
    color: currentColor;
} */

/* .list {
    list-style: none;
    padding: 0;
    margin: 0;
} */

/* h1,h2,h3,h4,h5,h6,p {
    margin: 0;
} */

/* Header section */
/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */


/* .header__border {
border-bottom: 1px solid var(--border-color);
} */
/* .header__container {
    display: flex;    
} */
 /* .link {
    display: flex;
} */
 
/* .header__logo {
    margin-right: 93px;
    align-items: center;
} */
 
/* .nav__list {
    display: flex;
    align-items: center;    
} */

/* .nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
} */

/* .nav__item {
    position: relative;
    transition: color var(--animation);
} */

/* .nav__item--contacts {
    margin-right: 0;
}    */

/* .header__contacts {
    margin-left: 305px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--secondary-txt-cl);
} */

/* .header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;    
} */

/* .header__link {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 30px;
    position: relative;
    transition: color var(--animation);
} */

/* .header__tel {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--animation);
} */

/* .header__logo {
    font-family: var(--secondary-font);
    color: var(--logo-blue-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
} */

/* .logo-accent {
    color: var(--logo-black-txt-cl);
} */

/* .nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
} */

/* .nav__item--studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--logo-blue-txt-cl);
    text-decoration: none;
} */


/* Подчёркивание */

/* .nav__item--studio {
    position: relative;
    color: var(--logo-blue-txt-cl);
} */

/* .nav__item--studio::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-blue-txt-cl);
} */

/* .nav__item:hover,
.nav__item:focus {
    color: var(--logo-blue-txt-cl);
} */

/* .header__link,
.header__tel {    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
} */

/* .header__link:hover,
.header__link:focus {
    color: var(--logo-blue-txt-cl);
} */

/* .header__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
} */

/* .header__tel:hover,
.header__tel:focus {
    color: var(--logo-blue-txt-cl);
} */



/* Hero */

/* .overlay {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image:linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/imghero.jpg);
    background-position: center;
    background-color: var(--overlay-bg-cl);
} */

/* .hero {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-bg-cl);
} */

/* .hero__text {
    margin-top: 106px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
} */

/* .hero__btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 106px;
} */
/* .btn {
    max-width: 250px;
    min-width: 200px;
    max-height: 50px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;  
    
} */

/* .btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
    background: var(--blue-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    transition: color var(--animation),
    background-color var(--animation);
} */

/* .btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--button-text-color);
    background-color: var(--focus-color); 
} */
/* Наши преимущества */
/* .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
} */
/* .advantage__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--light-bg-cl);
    border-radius: 4px;
    margin-bottom: 30px;    
} */

/* .advantage__list {
    display: flex;
    gap: 30px;
} */

/* .advantage__list:last-child {
    margin-right: 0;
} */
/* .advantage__title {
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
} */

/* .advantage__text {
    width: 270px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
} */

/* Чем мы занимаемся */
/* .benefits {
    padding-bottom: 94px;
} */


/* .benefits__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
} */
/* .benefits__list {
    display: flex;
    gap: 30px;
} */
/* Чем мы занимаемся (текст на фото) */
/* .benefits__foto{
    position: relative;
} */

/* .benefits__action {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: hidden;
    opacity: 1;
    background: rgba(47, 48, 58, 0.8);
    transition: opacity var(--animation);
} */

/* .benefits__text--action {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
} */


/* Наша команда */
/* .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--light-bg-cl);
} */

/* .team__name--post {
padding-top: 30px;
padding-bottom: 30px;
} */

/* .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);    
} */

/* .team__list {
    width: 270px;
    display: flex;
    gap: 30px;
} */

/* .team__items {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-bg-cl);
}  */

/* .team__name {   
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
} */

/* .team__post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    margin-bottom: 16px;
} */
/* .team__list {
    align-items: center;   
} */

/* .social__link {
    
    align-items: center;
    justify-content: center;
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--white-bg-cl);
    border-radius: 50%;
    transition: color var(--animation),
    background-color var(--animation);
    
} */

/* .social__list {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 32px;
    padding-left: 32px;
    list-style: none;
    
} */
/* .social__icon {
    fill: var(--social-icon-color);
} */

/* .social__link:hover,
.social__link:focus {
    background-color: var(--blue-bg-cl);
    outline: none;
    
} */

/* .social__link:hover .social__icon {
    fill: var(--white-txt-cl);
} */
/* .social__link:focus .social__icon {
    fill: var(--white-txt-cl);
} */

/* Постоянные клиенты */

/* .clients {
    padding-top: 94px;
    padding-bottom: 94px;
} */
/* .clients__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    transition: color var(--animation),
    border-color var(--animation);
    
} */

/* .clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    background-color: var(--white-bg-cl);
    border: 1px solid var(--border-social-color);
    border-radius: 4px;
    fill: var(--social-icon-color);
    transition: color var(--animation),
    border-color var(--animation);
} */


/* .clients__icon:hover,
.clients__icon:focus {
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
    border: 1px solid var(--akcent-color);
    outline: none;  
} */

/* .clients__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 50px;
} */
/* Футер */
/* .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-cl);
    
} */

/* .footer .container {
    display: flex;
    align-items: baseline;
} */
/* .footer__logo {
    width: 145px;
    height: 31px;
    margin-bottom: 20px;
    
} */
/* .footer__accent {
    color: var(--logo-white-txt-cl);    
} */

/* .footer__list {
    width: 231px;
    height: 81px;   
} */


/* .footer__text {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--logo-white-txt-cl);
} */

/* .footer__text:hover,
.footer__text:focus {
    color: var(--logo-blue-txt-cl);
} */

/* .footer__link {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--animation),
    background-color var(--animation);
} */

/* .footer__link:hover,
.footer__link:focus {
    color: var(--logo-blue-txt-cl);
} */

/* .footer__tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
} */

/* .footer__text, 
.footer__link,
.footer__tel {
    width: 231px;
    height: 21px;
} */

/* .footer__tel:hover,
.footer__tel:focus {
    color: var(--logo-blue-txt-cl);
} */


/* Футер. Правый блок */


/* .footer__join {
   margin-left: 70px;
   margin-right: 93px;
}  */

/* .footer__social--list {
    display: flex;
    align-items: baseline;
    justify-content: center; 
    gap: 10px;
    list-style: none;
    margin: 0;
    padding-left: 0;
} */

/* .footer__social--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-top: 20px;
    transition: color var(--animation),
    background-color var(--animation);
} */

/* .footer__title {
    display: flex;
    align-items: baseline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
    padding-left: 0;
} */

/* .footer__icon {
    fill: var(--white-txt-cl);
} */
/* .footer__social--link:hover,
.footer__social--link:focus {
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
    border: 1px solid var(--akcent-color);
    background-color: var(--blue-bg-cl);
    outline: none;
}  */

/* Футер підписатися*/

/* .subsubscription__group {
    display: flex;
    gap: 12px;
} */

/* .subscription__input {
    display: inline-block;
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--animation),
    border-color var(--animation);
} */

/* .subscription__input:hover,
.subscription__input:focus {
    border: 1px solid var(--akcent-color);
    border-color: var(--akcent-color);
    outline: none;
   
} */

/* .subscription__btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-bg-cl);
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-left: 28px;
    cursor: pointer;
    color: var(--white-txt-cl);
    border: none;
} */


/* .subscription__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
} */



/* Prtfolio*/
 





/* Портфолио кнопки */

/* .portfolio__button {
    padding-top: 94px;
    padding-bottom: 94px;
} */


/* .portfolio__list {
    display:flex;
    justify-content: center ;
    gap: 8px;
    margin-bottom: 50px;
   
} */

/* .portfolio__btn--curent {
    width: 73px;
    height: 38px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
} */

/* .portfolio__btn--site {
    max-width: 200px;
    min-width: 130px;
    width: 128px;
    height: 38px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
} */

/* .portfolio__btn--app {
    width: 145px;
    height: 38px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
} */

/* .portfolio__btn--design {
    width: 103px;
    height: 38px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
} */

/* .portfolio__btn--marketing {
    width: 130px;
    height: 38px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;;
} */
/* .portfolio__btn{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    background: var(--light-bg-cl);
    transition: color var(--animation),
    background-color var(--animation),
    box-shadow var(--animation);
} */
/* .portfolio__list,
.portfolio__btn {
    color: var(--main-txt-cl);
} */

/* .current {
    font-family: 'Roboto';
    font-style: normal;
    color:var(--white-txt-cl);
    background: var(--blue-bg-cl);
    border-radius: 4px;
    border: none;
} */
 
/* .portfolio__btn:hover,
.portfolio__btn:focus {
    background: var(--blue-bg-cl);
    color: var(--white-txt-cl);

} */

/* .portfolio__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .portfolio__cards--title {
    max-width: 350px;
    min-width: 340px;
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
} */

/* .portfolio__cards--text {
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
} */

/* .portfolio__link--cards:hover,
.portfolio__link--cards:focus {
color: var(--logo-blue-txt-cl);
} */

/* .portfolio__cards--list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */
/* Портфолио текст */


/* .portfolio__foto {
    position: relative;
    overflow: hidden;
} */

/* .portfolio__overlay {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--animation);

} */

/* .portfolio__overlay--text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 0.03em;
    color: var(--white-txt-cl);
} */

/* .portfolio__foto:hover .portfolio__overlay {
    transform: translateY(0);
    opacity: 1;
} */

/* .portfolio__item--cards {
    box-sizing: border-box;
    width: 370px;
    
    background: var(--white-bg-cl);
    border: 1px solid var(--border-cards-color);
} */
/* .portfolio__cards--name {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
} */
/* .portfolio__item--cards:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */




/* Модальное окно */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-out, visibility 600ms ease-out;
} */

/* .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */

/* .backdrop.is-hidden.modal {
    opacity: 0;
} */

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
    padding-top: 40px;
    padding-right: 41px;
    padding-bottom: 40px;
    padding-left: 39px;
} */

/* .modal__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
} */

/* .modal__btn--icon {
    width: 11px;
    height: 11px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
} */

/* .modal__btn--icon:hover,
.modal__btn--icon:focus {
    fill: var(--akcent-color);        
} */

/* .register__form {
    text-align: center;
} */

/* .register__title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
} */

/* .register__group {
    margin-bottom: 20px;
} */

/* .register__lable {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
    padding-left: 1px;
} */

/* .register__wrap {
    display: block;
    position: relative;
    margin-bottom: 10px;
} */

/* .register__field {
    position: relative;
} */

/* .register__icon {
    position: absolute;
    top: 29px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
} */

/* .register__wrap:last-child {
    margin-bottom: 0;
} */

/* .register__input,
.register__message {
    border: solid 1px var(--border-form);
    border-radius: 5px;
    width: 100%;
    outline: transparent;
    padding: 10px;
    padding-left: 50px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
} */

/* .register__message {
    resize: none;
    height: 120px;
    padding: 10px;
} */

/* .register__input:focus,
.register__message:focus {
    border: solid 1px var(--akcent-color);
} */

/* .register__input:focus-within+.register__icon {
    fill: var(--akcent-color);
} */

/* textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
} */

/* .register__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-bottom: 30px;


} */

/* .register__agreement--text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
} */

/* .register__icon--uncheck {
    transition: opacity 250ms ease-in-out;
} */

/* .register__icon--check {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
} */

/* .register__checkbox:checked+.register__icon--agreement .register__icon--uncheck {
    opacity: 0;
} */

/* .register__checkbox:checked+.register__icon--agreement .register__icon--check {
    opacity: 1;
} */

/* .register__agreement--link {
    text-decoration: underline;
    color: var(--akcent-color);
    text-underline-position: under;
} */

/* .register__btn {
    display: inline-block;
    align-items: center;
    padding: 10px 55px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
    cursor: pointer;
    background-color: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
} */

/* .visuaaly-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */




























