:root {
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /* text colors */
    --main-txt-cl:#212121;
    --secondary-cl: #757575;
    --accent-cl:#2196F3;
    --btn-txt-cl:#ffffff;

    /* bg colors */
    --light-bg-cl: #E5E5E5;
    --blond-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
    
    /* other */ 
}