:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* text color */
    --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --logo-blue-txt-cl: #2196F3;
    --logo-black-txt-cl: #000000;
    --logo-white-txt-cl: #FFFFFF;
    --white-txt-cl: #FFFFFF;
    /* bg color */
    --dark-bg-cl: #2F303A;
    --light-bg-cl: #F5F4FA;
    --overlay-bg-cl: #C4C4C4;
    --blue-bg-cl: #2196F3;
    --white-bg-cl: #FFFFFF;
    /* others */
    --button-text-color: #000000;
    --focus-color: #ffffff;
    --border-form: #D9D9D9;
    --border-color: #ECECEC;
    --border-social-color: #AFB1B8;
    --border-cards-color: #EEEEEE;
    --social-icon-color: #AFB1B8;
    --akcent-color: #2196F3;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}