.benefits {
    padding-bottom: 94px;
}


.benefits__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.benefits__list {
    display: flex;
    gap: 30px;
}


.benefits__foto {
    position: relative;
}

.benefits__action {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: hidden;
    opacity: 1;
    background: rgba(47, 48, 58, 0.8);
    transition: opacity var(--animation);
}

.benefits__text--action {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
}