.clients {
    @extend %section;

    // padding-top: 0; 

    &__section-title {
         @media screen and (min-width: 480px) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }    

    &__clients-list {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    align-items: center;
    justify-content:space-between; 
    gap: 30px;
    /* outline: 2px solid red; */
    }

    &__icon {
    /* display: inline-block; */
    width: 170px;
    height: 92px;       
    
    --color3: #afb1b8;
    cursor: pointer;   
    }
}

.clients-list {

    margin: 0px;
}

.clients-list__item { 

     @media screen and (max-width: 479px) {
        display: flex;
        align-items: center;
        justify-content:center; 
        
        flex-basis: calc((100% - 30px)/ 2 );

        border-top: 1px solid #AFB1B8;
        border-right: 1px solid #AFB1B8;
        border-bottom: 1px solid #AFB1B8;
        border-left: 1px solid #AFB1B8;
        border-radius: 4px;

        // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        transition-property: border, --color5, -color3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay:0s;

    }

    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        justify-content:center; 
        
        flex-basis: calc((100% - 30px)/ 2 );

        border-top: 1px solid #AFB1B8;
        border-right: 1px solid #AFB1B8;
        border-bottom: 1px solid #AFB1B8;
        border-left: 1px solid #AFB1B8;
        border-radius: 4px;

        // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        transition-property: border, --color5, -color3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay:0s;

    }
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px)/ 3 );
        // max-width: 226px;
    }

    @media screen and (min-width: 1200px) {
        // flex-basis: auto;
         min-width: 170px;
        // height: 248px;
    }

    &:hover,
    &:focus
    {
    border: 1px solid #2196F3;
    --color5:var(--accent-cl);
    --color3:var(--accent-cl);  
    }

    &:hover .clients__icon, 
    &:focus .clients__icon {
    --color5:var(--accent-cl);
    --color3:var(--accent-cl); 
    } 

}


.client-link { 
    padding-bottom: 0; 

    @media screen and (min-width: 480px) {
        display: block;
        max-width: 210px;
        height: 92px;          
    }
    
    @media screen and (min-width: 768px) {
        max-width: 226px;
    }

    // @media screen and (min-width: 1200px) {
        
    //     flex-basis: auto;
        
    // }

    // max-width: 170px;
    // height: 90px;     
    // padding-bottom: 0; 

    // border-top: 1px solid #AFB1B8;
    // border-right: 1px solid #AFB1B8;
    // border-bottom: 1px solid #AFB1B8;
    // border-left: 1px solid #AFB1B8;
    // border-radius: 4px;

    // /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s; */ 
    // transition-property: border, --color5, -color3;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // transition-delay:0s;

    // &:hover,
    // &:focus
    // {
    // border: 1px solid #2196F3;
    // --color5:var(--accent-cl);
    // --color3:var(--accent-cl);  
    // }

    // &:hover .clients__icon, 
    // &:focus .clients__icon {
    // --color5:var(--accent-cl);
    // --color3:var(--accent-cl); 
    // } 
}

.clients-list__client-link {
    display: inline-block;
    margin-bottom: 0;
}
