.header {
    
     @media screen and (max-width: 480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;

    &__container {
    display: flex;
    align-items: center;
    
        @media screen and (max-width: 767px) {
        justify-content: space-between;
        }  
    }

    &__logo {
        @media screen and (max-width: 767px) {
        margin-right: 0;
        }    

        margin-right: 90px;
    }

    &__list {
        
        @media screen and (max-width: 767px) {
        display: none;
        }    

        @media screen and (min-width: 768px) {
        display: inline;
        }  

        @media screen and (min-width: 1200px) { 
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px; 
        }        
    }

    &__mail,
    &__phone { 
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
        
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:0s;

    @media screen and (min-width: 1200px) { 
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: calc(16 / 14);        
    }    
    /* outline: 5px solid green; */
    }

    &__icon-ml {
    /* display: inline-block; */
    width: 16px;
    height: 12px;
    margin-right: 10px;
     --color1: currentColor;   
    /* outline: 2px solid blue; */
    }

    &__icon-smph {
    /* display: inline-block; */
    width: 10px;
    height: 16px;  
    margin-right: 10px;
    --color1: currentColor; 
    /* outline: 2px solid blue; */
    }    
}

.header__mail:hover,
.header__mail:focus,
.header__phone:hover,
.header__phone:focus  {
    color: var(--accent-cl);
    --color1: var(--accent-cl);
}
