.portfolio {
    @extend %section;
    padding-bottom: 0;
}
  
.filters-list { 
    @media screen and (max-width: 479px) { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        padding: 0;
        }

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;           
        padding: 0;
        }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;  
        }
}

.filters-list__btn {     
    /* height: 38px; */
    display: inline-block;
    padding: 5px 21px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
   
    color: var(--main-txt-cl);
    background: var(--blond-bg-cl);
    cursor: pointer;
               
    border-radius: 4px;
    border: none;    

    /* transition: color box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s; */
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:0s;    
}

.filters-list__btn:hover,
.filters-list__btn:focus {
    color: var(--btn-txt-cl);
    background-color: var(--accent-cl); 
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    /* padding: 5px 21px;
    border-radius: 4px;  */  
}
