.team {
   @extend %section; 

   background-color: var(--blond-bg-cl);
//    padding-top: 0;  

    &__section-title {
        text-align: center;

        @media screen and (min-width: 480px) {
            margin-bottom: 30px; 
        }
       
        @media screen and (min-width: 768px) {
            margin-bottom: 30px; 
        }

        @media screen and (min-width: 1200px) {
        margin-bottom: 50px; 
        }         
    }


    &__team-list {

         @media screen and (max-width: 479px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;             
        }

        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;             
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;             
        } 

         @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;             
        } 
    }
}

.team-list__item {

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px)/ 2 );
        // height: 251px;
    }
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    /* outline: 2px solid green; */
}

.team-wrap{
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-left: 5px; 
    text-align: center;  
    /* outline: 3px solid red; */
    
    &__team-list-name {
        margin-bottom: 10px;
    }

    &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }
} 

.team-list-name {
    /* margin-bottom: 10px; */
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team-list__descript {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em; 
    color: var(--secondary-cl);
    margin-bottom: 16px;
} 

.social-links__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   background-color: #FFFFFF;
   border-radius: 50%;  

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    /* outline: 2px solid red;
    outline-offset: -2px; */
}

.social-links__icon { 
    --color5: #afb1b8;
    --color4: #afb1b8;

    transition-property: --color5, -color4;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:0s;

}

.social-links__link:hover, 
.social-links__link:focus {
background-color:  #2196F3;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
   --color5: #fff; 
   --color4: #fff;
}