.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    max-width: 250px;
    min-width: 200px;
    max-height: 50px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    color: --white-txt-cl;
    background: --blue-bg-cl;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    transition: color var(--animation)
    background-color var(--animation);

    

    &:hover,
    &:focus {
    cursor: pointer;
    color: var (--button-text-color);
    background-color: var (--focus-color) ;
   }
  
}
.hero__btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 106px;
    background-color:var(--blue-bg-cl);
    color: var(--white-txt-cl);
    

}