.btn {
    // max-width: 250px;
    // min-width: 200px;
    // max-width: 200px;
    // max-height: 50px;
    // min-height: 50px;

    @media screen and (max-width: 479px) {
        max-width: 200px;
        max-height: 50px;;
        }

    @media screen and (min-width: 480px) {
        max-width: 250px;
        min-width: 200px;    
        min-height: 50px;          
        }

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);    
    letter-spacing: 0.06em;
    color: var(--btn-txt-cl);
    background-color: var(--accent-cl);
    cursor: pointer;  

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);        
    border-radius: 4px; 
    border: none;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s; */

    /* transition-property: ;
    transition-duration: ;
    transition-timing-function: ;
    transition-delay: ; */
}

.mail-btn {         
    width: 200px;
    height: 50px;
        
    font-weight: 700;
    font-size: 16px;
    line-height: colc(30 / 16);
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.modal-btn {
    width: 30px;
    height: 30px;
    padding: 5px; 
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);  
        
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    /* border-radius: 4px; */
    cursor: pointer;

    /* outline: 3px solid green; */
}

.authentication-btn {
width: 200px;
height: 50px; 
padding: 10px 52px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16); 
letter-spacing: 0.06em;
color: var(--btn-txt-cl); 

background-color: var(--accent-cl);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
cursor: pointer;
transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  /* outline: 3px solid green; */ 
}